<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Yoked</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>


<body >
<section class="home-cont">
  <div class="container">
    <div class="row home-row">
      <div class="col-md-4">
        <h1>Yoked</h1>
      </div>
      <div class="col-md-8">
        <h4 class= "nav-items">Signup</h4>
        <h4 class="nav-items">Login</h4>
      </div>
    </div>
  </div>

    <div class="home-btn">
      <button id="home-main-btn" type="button" name="button"> Run Live Workout</button>
    </div>


</section>

<div class="">
  <div class="">
  This is a workout
  </div>
</div>





</body>
</html>
