
<div class="col-md-5">
  <h3>Latest Workouts </h3>
  <%=render partial: "workouts/workout", collection: @workouts%>
  <%= link_to "New Workout", new_workout_path %>

</div>

<div class="col-md-7">
  <h3>Latest Plans</h3>
  <%=render partial: "plans/plan", collection: @plans%>
</div>
