$(document).ready(function () {
  attachListners();
})

function attachListners() {
  displayInputText();
  displayMuscleGroup();
  displayExercises();
  displayFocusOut();
  displayNewExercises();
  removeNewExercise();
}

function displayInputText() {
  $(".workout_fields").on('keypress', function (e) {
    var key = e.which;
    if(key === 13){
      $("#form-wo-name").text($("#workout_name").val());
      $("#form-wo-desc").text($("#workout_description").val());
      e.preventDefault();
    }
  });
}

function displayFocusOut() {
  $(".workout_fields").on('focusout', function () {
    $("#form-wo-name").text($("#workout_name").val());
    $("#form-wo-desc").text($("#workout_description").val());
  });
}

function displayMuscleGroup() {
  $('[id^="workout_muscle_group_ids"]').on('click',function(event) {
    var fmg = $("#form-muscle-group").text()
    var idValue = ($("label[for="+ event.currentTarget.id + "]").text())

    removeMg(event);

    if(fmg.indexOf(idValue) < 0){
      $("#form-muscle-group").append($("label[for="+ event.currentTarget.id + "]").text())
    }
  });
}

function removeMg(event) {
  $("#"+event.currentTarget.id).on('change',function () {
    if(this.checked === false)
    var labelText = $("label[for="+ event.currentTarget.id + "]").text()
    $("#form-muscle-group").text($("#form-muscle-group").text().split(labelText).join(""))
  });
}

function displayExercises() {
  $('#exercise-table').on('click','[id^="workout_exercise_ids"]',function(event) {
    let exercise_id = $(this).val()
    let form_exer = $("#form-exercises").html()
    removeExercise(event);

    $.get("/exercises/"+exercise_id+".json", function( data ) {
      if (form_exer.indexOf("exer-row-"+exercise_id) < 0) {
        $("#form-exercises").append("<tr id=exer-row-"+exercise_id+"><td>"+data["name"]+"</td><td>"+data["rating"]+"</td><td>"+data["sets"]+"</td><td>"+data["weight"]+"</td><td>"+data["reps"]+"</td><td>"+data["rest_period_mins"]+"</td></tr>")
       }
    });
  })
}

function removeExercise(event) {
  if(event.currentTarget.checked === false){
    $("#exer-row-" + event.currentTarget.value).remove();
  };
}

function displayNewExercises() {
  $(".add-exercise-fields").on('focusout','[id^="workout_exercises_attributes"]', function (event) {
    let exercise_id = parseInt(this.id.match(/\d+/g)[0])
    let exercise = "workout_exercises_attributes_"
    let exJquery = "#"+exercise+exercise_id
    let form_exer = $("#form-exercises").html()
    if (form_exer.indexOf("exer-row-"+exercise_id) < 0) {
      $("#form-exercises").append("<tr id=exer-row-"+exercise_id+"><td>"+$(exJquery+"_name").val()+"</td><td></td><td>"+$(exJquery+"_sets").val()+"</td><td>"+$(exJquery+"_weight").val()+"</td><td>"+$(exJquery+"_reps").val()+"</td><td>"+$(exJquery+"_rest_period").val()+"</td></tr>")
    } else {
        $("#exer-row-"+exercise_id).html("<td>"+$(exJquery+"_name").val()+"</td><td></td><td>"+$(exJquery+"_sets").val()+"</td><td>"+$(exJquery+"_weight").val()+"</td><td>"+$(exJquery+"_reps").val()+"</td><td>"+$(exJquery+"_rest_period").val()+"</td></tr>")
      }
  });
}

function removeNewExercise() {
$(".add-exercise-fields").on('click','.remove_nested_fields', function (event) {
    let exercise_id = parseInt(event.target.previousElementSibling.id.match(/\d+/g)[0])
    let exercise = "workout_exercises_attributes_"
    let exJquery = "#"+exercise+exercise_id

    $("#exer-row-"+exercise_id).remove();

  });
}
