'use strict';

var runs;

$(function () {
  recentRuns();

});

function recentRuns() {
    let user_id =$("#see-all-ran").attr("href")
    if (user_id) {
      user_id = user_id.match(/\d+/)[0]
      $.get('/users/'+user_id+'/runs.json',function (response) {
        console.log(response)
        runs = response;
        addRunsToWelcome(runs);
      });
    }


}

function Run(id, exercise, drills, duration) {
  this.exercise = exercise;
  this.id = id;
  this.drills = drills;
  this.duration = duration;
}

Run.prototype.avgWeight = function () {
  var weights = this.drills.map(function(drill){
    return drill.weight
    }).reduce(add, 0);
    var avg;
    avg = weights/run.drills.length;
    return avg
  };
}


function addRunsToWelcome(runs) {
  runs.forEach(function (run_data) {
    debugger;
    let run = new Run(run_data.id, run_data.exercise, run_data.drills, run_data.duration)
    displayRun(run);
  });
}

function add(a, b) {
  return a + b;
}

function displayRun(run) {
  $("#recent-runs").append("<tr id="+run.id+"><td>"+run.exercise.name+"</td><td>"+run.exercise.sets+"</td><td>"+run.avgWeight()+" lbs</td><td>"+run.duration+"</td></tr>")
}
