'use strict';

var runs;
$(function () {
  recentRuns();

});

function recentRuns() {
    let user_id =$("#see-all-ran").attr("href")
    if (user_id) {
      user_id = user_id.match(/\d+/)[0]
      $.get('/users/'+user_id+'/runs.json',function (response) {
        console.log(response)
        runs = response;
      }).done(function () {
        addRunsToWelcome(runs);
      });
    }


}

function addRunsToWelcome(runs) {
  runs.forEach(function (run) {
    addAvgWeight(run);
    displayRun(run);
  });
}

function addAvgWeight(run) {
  run.avg_weight = function () {
  var weights = run.drills.map(function(drill){
    return drill.weight
    }).reduce(add, 0);
    var avg;
    avg = weights/run.drills.length;
    return avg
  }
}

function add(a, b) {
  return a + b;
}

function displayRun(run) {
  $("#recent-runs").append("<tr id="+run.id+"><td>"+run.exercise.name+"</td><td>"+run.exercise.sets+"</td><td>"+run.avg_weight()+" lbs</td><td>"+run.duration+"</td></tr>")
}
