<div class="run-area">
  <div class="page-header">
    <h4>Status</h4>
  </div>
  <div class="table-responsive">
    <table id="exercise-status-table" class="table">
        <thead>
            <tr>
                <th>Set</th>
                <th>Weight</th>
                <th>Reps</th>
                <th>Rest Period</th>
            </tr>
        </thead>
        <tbody>
          <%if @run.drills.size > 1%>
            <%@run.drills.each do |drill|%>
            <tr><td><%=drill.set_number%></td><td> <%=drill.weight%></td><td><%=drill.reps%></td><td><%=drill.rest_period%></td><td></td></tr>
            <%end%>
          <%end%>
        </tbody>
    </table>
  </div>
</div>
