<div id="rest-timer-all">
  <table>
    <tr>
      <th class="input-header"><h4>Rest Period</h4></th>
    </tr>
      <td class="big-column"><p class="glyphicon glyphicon-minus btn btn-default" id="shorten-rest">15</p>
      <time id="rest-timer" >00:00</time>
      <p id="add-15-secs" class="glyphicon glyphicon-plus btn btn-default">15</p></td>
      <tr>
        <td id="exercise-rest-target">Target Rest <p id="exercise-rest"><%=@exercise.rest_period%></p> secs</td>
      </tr>

  </table>
</div>
