<h4 class="inline-header">Exercise</h4>

<% if @exercise%>
<h5 class="inline-header">|<%=@exercise.name%>|</h5>
<%else%>
  <p id="add-15-secs" class="glyphicon glyphicon-plus btn btn-default"></p>
<%end%>

<p class="inline-header">Set-</p><div class="inline-header" id="current-set">1</div>
<div id="run-main" >
<div id="drill-fields" class="drill-fields-pause">

<%=render "record_set"%>

</div>
</div>
