<h4 >Exercise</h4>

<% if @exercise%>
  <span id="set-exercise-name"><%=@exercise.name%></span>
<%else%>
  <!-- <p id="add-15-secs" class="glyphicon glyphicon-plus btn btn-default"></p> -->
<%end%>

<span> Set-</span><span id="current-set">1</span>
<div id="run-main" >
<div id="drill-fields" class="drill-fields-pause">

<%=render "record_set"%>

</div>
</div>
