<div class="row text-center">
  <p id="workout-header">New Workout</p>
  <%= form_for Workout.new do |f| %>
    <%=f.text_field :name, id: "workout-run-input", class: "text-center" %>
  <%end%>

<span class="edit-buttons">
  <span id="edit-workout-name" class="glyphicon glyphicon-pencil"></span>
  <span id="save-workout-name" class="glyphicon glyphicon-ok"></span>
</span>


</div>
