<%@runs.each do |run|%>
<table class="table">
  <tr>
      <%=run.workout.name%>
    <th>
      Date: <%=run.run_date%>
    </th>
  </tr>
<tr>
  <th>
    Exercise Name:
  </th>
</tr>

</table>

<%end%>
