<%@runs.each do |run|%>
<table class="table">
  <tr>
      <%=run.workout_attached%>
    <th>
      Date: <%=run.workout_attached.updated_at.strftime("%d/%m/%Y")%>
    </th>
  </tr>
<tr>
  <th>
    Exercise Name:
  </th>
</tr>

</table>

<%end%>
