<div class="row exercise-run page-header ">
  <div class="col-md-4">
    <button type="button" id="start-run" class="btn btn-success inline-header">Start Now</button>
    </div>
    <div class="col-md-4 exercise-timer">
      <time class="inline-header" id="duration-timer" >00:00</time>
      <p id="total-time-desc">Exercise Duration</p>
    </div>
    <div class="col-md-offset-10">
        <%= link_to 'Finish', "/users/#{current_user.id}/exercises/#{@exercise.id}/runs/#{@run.id}", class: "btn btn-danger", id:"end-run" %>
    </div>
  </div>

  <%=render partial: "set"%>
  <%=render partial: "rest_timer"%>
  <%=render partial: "exercise_status"%>
