
<div class="row exercise-run page-header ">
  <div class="col-md-4">
    <button type="button" class="btn btn-success inline-header">Start Now</button>
    </div>
    <div class="col-md-2">
      <p class="">|Time Elasped|</p>
      <time class="inline-header" id="duration-timer" >00:00</time>
    </div>
    <div class="col-md-offset-8">
      <button type="button" class="btn btn-danger">Finish</button>
    </div>
  </div>

  <h4 class="inline-header">Exercise</h4>
  <h5 class="inline-header">|<%=@exercise.name%>|</h5>
  <p class="inline-header"> Set # 1</p>





  <div class="run-area">
    <div class="page-header">
      <h4>Status</h4>
    </div>
    <div class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>

<div class=" rest-timer col-md-2 col-md-offset-5">
  <h5>Rest</h5>
  <time id="rest-timer" >00:00</time>
  <h5 id="add-15-secs">+ 15 secs</h5>

</div>
