<div class=" total-timer col-md-2 col-md-offset-5">
  <time id="duration-timer" >00:00</time>
  <h5>Total Duration</h5>
</div>

<div class=" rest-timer col-md-2 col-md-offset-5">
  <h5>Rest</h5>
  <time id="rest-timer" >00:00</time>
  <h5 id="add-15-secs">+ 15 secs</h5>

</div>
