<h2 class"page-header">Run Summary</h2>
<p class="inline-header">Total Time <%=@run.duration%> Seconds</p>
<p class="inline-header"><%= link_to 'Edit', edit_run_path(@run) %></p>
<%=render partial: "exercise_status", locals: {drills: @run.drills}%>
