<div class="panel panel-default col-md-5 col-md-offset-4">
  <div class="panel-heading"><h3>Create New Exercise</h3></div>
  <div class="panel_body">
    <%=bootstrap_form_for(@exercise) do |f|%>
    <%=render partial: "form", locals: {f:f}%>
    <%=f.submit%>
    <%end%>
  </div>
</div>
