<div class=" col-md-6">
  <div class="page-header"><h3><%=t "exercises.new.title"%></h3></div>
  <div class="panel_body">
    <%=bootstrap_nested_form_for [current_user,@exercise] do |f|%>
    <%=render partial: "form", locals: {f:f}%>
    <%=f.submit%>
    <%end%>
  </div>
</div>
